.env
.env.example
.git*
.travis.yml
Procfile
requirements.txt
__pycache__
app/tools/simulation/data/emission-input/*
app/tools/simulation/data/emission-output/*
app/tools/simulation/data/traffic-input/*